.weatherpage {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.outer-most-header {
    display: flex;
    flex-direction: row;
}

.outer-header {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}

.logo-button {
    background: none;
    border: none;
}

.logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.inner-header {
    display: flex;
    flex-direction: row;
    height: 38px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.inner-header .search-container {
    padding-top: 45px;
}

.inner-header .search-bar {
    width: 800px;
}

.inner-header .button {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10%;
    border: none;
}

.inner-header .button img {
    height: 29px;
    widtH: 29px;
}

.chart {
    width: 1300px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
}

.content-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-top: 20px;
}

.date-displayer {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background: linear-gradient(to bottom, red 30%, white 30%);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.month {
    color: white;
    font-weight: bold;
    margin-top: 3px;
    font-size: 18px;
}

.day {
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 50px;
}

.location-header {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0 auto;
}

.city {
    font-size: 60px;
}

.country {
    font-size: 20px;
}

.current-weather-displayer {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background-color: skyblue;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
}

.current-weather-displayer .weather{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.current-weather-displayer .weather img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.current-weather-displayer .temperature{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

.current-weather-displayer .temperature .curr-temp {
    font-size: 40px;
    margin: 5px 0;
}

.current-weather-displayer .temperature .app-temp {
    font-size: 20px;
    margin: 5px 0;
}